<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title, "Title:", class: "form-label font-bold text-red-500 sm:text-xl md:text-1xl"%>
    <%= form.text_field :title, class: "border-none w-2/4" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
      <% end %>
  </div>
  <div>
    <%= form.label :body, class: "text-white" %>
    <%= form.rich_text_area :body %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
      <% end %>
  </div>
  <div>
    <%= form.submit "Update", class: "text-white mt-4 px-4 py-3 bg-red-500 rounded-lg" %>
  </div>
<% end %>
