<%= render 'shared/header' %>

<%# Show the article %>
<div class = "p-3 ">
  <h1 class="font-base text-center text-2xl font-bold hover:underline"><%= @article.title %></h1>
</div>
<div class = "pr-32 pl-32 pt-5 pb-5" >
  <p class="trix-content max-w-4xl px-10  mx-auto text-2xl text-gray-700 mt-4 rounded bg-gray-100"><%= @article.body %></p>
</div>

<%# Edit the article %>
<div class = "grid grid-cols-8 gap-2 font-mono text-sm align-middle content-centre pr-32 pl-32">
  <ul>
    <li><%= link_to 'Edit', edit_article_path(@article), class:"text-white px-7 py-3 bg-red-500 rounded-lg w-24" %></li>
  </ul>

<%# Delete the article %>
  <ul>
    <li><%= link_to 'Destroy', article_path(@article), data: {
        turbo_method: :delete,
        turbo_confirm: 'Are you sure?'},
        class: "text-white px-5 py-3 bg-red-500 rounded-lg w-24"
        %></li>
  </ul>
</div>

<%= render 'comments/form' %>
<div class="ml-32 mr-32 ">
  <%= render 'comments/comment' %>
</div>
